.item1 { grid-area: header; font-size: 30px; }
.item2 { grid-area: left; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }
.item6 { grid-area: sidebar; font-size: 28px; font-weight: 400; text-decoration: underline;}

body{
	text-align:center;
	background-image: url("img/background.jpg");
	background-position: center top;
    background-size: 100% auto;
	font-family: "Montserrat Alternates", sans-serif;
	font-weight: 400;
	font-size: 20px; 
	font-style: normal;
}

.ring-photo > img {
	object-fit: cover;
	width: 70%;
	max-height: 70%;
	max-width: 350px;
  }

.map-photo-container {
	position: relative;
	object-fit: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

.map-photo {
	max-width: 80%;
}

.overlay {
	position: absolute; 
	bottom: 0; 
	background: rgb(6, 53, 26);
	background: rgba(19, 99, 46, 0.5);
	color: #f1f1f1; 
	width: 80%;
	transition: .5s ease;
	opacity:0;
	color: white;
	font-size: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

@media only screen and (max-width: 600px) {
	.grid-container {
		display: grid;
		grid-template-areas:
		  'header header header'
		  ' sidebar sidebar sidebar'
		  ' main main main'
		  'right right right'
		  ' footer footer footer'
		  'left left left';
		gap: 10px;
		background-color: #ebe3ee80;
		padding: 10px;
	  }
}

@media only screen and (min-width: 600px) {
	.grid-container {
		display: grid;
		grid-template-areas:
		  'header header header header header header'
		  ' sidebar sidebar main main right right '
		  ' left left main main right right'
		  ' footer footer footer footer footer footer';
		gap: 10px;
		background-color: #ebe3ee80;
		padding: 10px;
	  }
}

.map-photo-container:hover .overlay {
	opacity: 1;
}

.grid-container > div {
  background-color: rgb(242, 239, 247);
  text-align: center;
  padding: 20px 0;
}

.grid-container > div {
	background-color: rgb(242, 239, 247);
	text-align: center;
	padding: 20px 0;
  }

.petit-formal script-regular {
	font-family: "Petit Formal Script", cursive;
	font-weight: 500;
	font-style: bold;
  }
  
/* .montserrat-alternates */

.montserrat-alternates-regular {
font-family: "Montserrat Alternates", sans-serif;
font-weight: 400;
font-style: normal;
}

.montserrat-alternates-medium {
font-family: "Montserrat Alternates", sans-serif;
font-weight: 500;
font-style: normal;
}

.montserrat-alternates-semibold {
font-family: "Montserrat Alternates", sans-serif;
font-weight: 600;
font-style: normal;
}

.montserrat-alternates-regular-italic {
font-family: "Montserrat Alternates", sans-serif;
font-weight: 400;
font-style: italic;
}