.item1 { grid-area: header; }
.item2 { grid-area: left; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

body{
	text-align:center;
	background-image: url("img/background.jpg");
	background-position: center top;
    background-size: 100% auto;
	font-family: "Montserrat Alternates", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.ring-photo > img {
	object-fit: cover;
	width: 70%;
	max-height: 70%;
	max-width: 350px;
  }

  .map-photo > img {
	object-fit: cover;
	width: 70%;
	max-height: 70%;
	max-width: 600px;
  }


.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    ' footer footer main main right right '
    ' left left main main right right';
  gap: 10px;
  background-color: #ebe3ee80;
  padding: 10px;
}

.grid-container > div {
  background-color: rgb(242, 239, 247);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.grid-container > div {
	background-color: rgb(242, 239, 247);
	text-align: center;
	padding: 20px 0;
	font-size: 30px;
  }

.petit-formal script-regular {
	font-family: "Petit Formal Script", cursive;
	font-weight: 500;
	font-style: bold;
  }
  
/* .montserrat-alternates */

.montserrat-alternates-regular {
font-family: "Montserrat Alternates", sans-serif;
font-weight: 400;
font-style: normal;
}

.montserrat-alternates-medium {
font-family: "Montserrat Alternates", sans-serif;
font-weight: 500;
font-style: normal;
}

.montserrat-alternates-semibold {
font-family: "Montserrat Alternates", sans-serif;
font-weight: 600;
font-style: normal;
}

.montserrat-alternates-regular-italic {
font-family: "Montserrat Alternates", sans-serif;
font-weight: 400;
font-style: italic;
}